body {background-color:#555;}
.navbar-fixed {position: absolute;z-index:999999999;}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#CSS {
    background: #fff;
    
}

#theboxmodel {
    background: #fff;
    
}

#JSfeatures {
    background: #fff;
    
}